<html>
  <head>
    <base href="/">
    <title>Wikisual - Wikipedia Visualized</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/readable.min.css">
    <!-- 1. Load libraries -->
     <!-- Polyfill(s) for older browsers -->
    <script src="static/core-js/client/shim.min.js"></script>
    <script src="static/zone.js/dist/zone.js"></script>
    {% if DEVMODE %}
    <script src="static/reflect-metadata/Reflect.js"></script>
    <script src="static/systemjs/dist/system.src.js"></script>
    <!-- 2. Configure SystemJS -->
    <script src="static/systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
    {% else %}
    <script type="text/javascript" charset="utf-8">
      window.module = 'aot';
    </script>
    {% endif %}
    <style type="text/css" media="screen">
      div.row {
        padding-bottom: 50px;
      }
    </style>
  </head>
  <!-- 3. Display the application -->
  <body>
    <a href="https://github.com/khairihafsham/wikisual"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <my-app>Loading...</my-app>
        </div>
      </div>
    </div>
  </body>
  {% if not DEVMODE %}
  <script src="static/build.js" type="text/javascript" charset="utf-8"></script>
  {% endif %}
</html>
